.who {
  margin-top: 120px;
  text-align: center;
}

.who h2 {
  margin-bottom: 25px;
  color: #e6b141;
  letter-spacing: 1px;
  font-size: max(3vw, 42px);
}

.who p {
  font-weight: 500;
  word-spacing: 1px;
}